<template name="summit2014">

	<!-- event hero unit -->
	<div class="hero event-hero summit">
		<div class="container">

			<div class="row">

				<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
					<img src="/images/liver-stamp-shadow.png" alt="" class="liver-stamp">
				</div>

				<div class="col-sm-9 col-md-9 col-lg-9">
					<hr class="spacer20 hidden-xs">

					<h4><em>Our Inaugural Event:</em></h4>
					<hr class="spacer10 hidden-xs">
					<h1><strong>The Whole Liver Replacement</strong><br> State-of-the-Science Summit</h1>
					<h5>April 29-30th, 2014 &mdash; Chicago, USA </h5>
				</div>

			</div> <!-- row -->

		</div> <!-- container -->
	</div> <!-- event-hero -->



	<!-- event overview with rotating image on right side -->
	<div class="container-full minblue">
		<div class="row">

			<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 col-lg-8">	
			<div class="liner big no-top mobile-friendly">
				<hr class="spacer20">

				<hr class="spacer10 visible-sm visible-lg">
				
				<h4><em>Event <span class="orange">Overview</span></em></h4>
				<p>
					Science is on the brink of breakthroughs that will soon make it possible to engineer an auxiliary liver graft and eventually a solid liver for human transplantation. In April the world’s top Academic Investigators from leading research universities worldwide gathered to get a holistic perspective of recent scientific advances and lay the foundation for future collaborative efforts through the formation of a transdisciplinary research community.
				</p>

				<p>
					Over the next several months, the Whole Liver Research Community will synthesize information and insights derived from the WLR Summit and identify next-step research initiatives.
				</p>

				<hr class="spacer30 visible-sm">

			</div> <!-- liner -->
			</div>

			<div class="col-sm-12 col-md-4 col-lg-4 photo-sectional-two">
				<!-- photo is managed by the background-size property -->
			</div>

		</div> <!-- row -->
	</div> <!-- container-full -->



	<hr class="spacer50 hidden-xs">



	<!-- page-leading quote section -->
	<div class="container">
		<div class="row quote">

			<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
				<img src="/images/quote.png" alt="" class="quote-mark">
			</div>

			<div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
				<span class="quote-text">
					Within a year or two, this meeting will have generated new ideas, new collaborations, new papers and new funding applications. All because 25 top scientists met together for nine hours and began thinking about things a little bit differently.
				</span>
				<hr class="spacer40">

				<h5 class="faded alignright"><em>&ndash; Dr. Alejandro Soto-Guti&eacute;rrez, MD, PhD</em></h5>
			</div>

		</div> <!-- row -->


		<!-- spacer & divider -->
		<hr class="spacer50 hidden-xs">
		<div class="fullwidthline dark"></div>
		<hr class="spacer50 hidden-xs">
		<hr class="spacer30 visible-xs">

		<h3 class="faded">SOS Chief Scientific Coordinators</h3>
		<hr class="spacer60 hidden-xs">
		<hr class="spacer30 visible-xs">
		<!-- spacer & divider -->


		<div class="row">
			<div class="col-xs-4 col-sm-3 col-md-2 mobile-center">
				<img src="/images/alex-circ.jpg" alt="Dr. Alejandro Soto-Guti&eacute;rrez, MD, PhD" class="facil-photo">
			</div>

			<div class="col-xs-8 col-sm-9 col-md-4">
				<hr class="spacer20 hidden-xs">

				<h5 class="small darkfaded">Dr. Alejandro Soto-Guti&eacute;rrez, MD, PhD</h5>
				<p class="hidden-xs">Department of Pathology, McGowan Institute for Regenerative Medicine and Thomas E. Starzl Transplantation Institute, University of Pittsburgh</p>
			</div>

			<hr class="spacer60 visible-xs visible-sm">

			<div class="col-xs-4 col-sm-3 col-md-2 mobile-center">
				<img src="/images/jason-circ.jpg" alt="Dr. Jason A. Wertheim, MD, PhD" class="facil-photo">
			</div>

			<div class="col-xs-8 col-sm-9 col-md-4">
				<hr class="spacer20 hidden-xs">

				<h5 class="small darkfaded">Dr. Jason A. Wertheim, MD, PhD</h5>
				<p class="hidden-xs">Comprehensive Transplant Center, Feinberg School of Medicine, Northwestern University</p>
			</div>
		</div> <!-- row -->


	</div> <!-- container -->


	<hr class="spacer60">
	<hr class="spacer60 hidden-sm hidden-xs">




	<!--
	////
	//// MODULE ONE - Perspectives on Liver Function
	//// 
	-->

	<div class="container-full minblue module module-one">
		<div class="row">

			<div class="col-sm-7 col-md-7 col-lg-7">	
			<div class="liner big no-top mobile-friendly">
				<hr class="spacer20">

				<hr class="spacer10 visible-sm visible-lg">
				
				<h3>Perspectives on Liver Function</h3>

				<span class="name">Jeffrey Albrecht, MD</span>
				<span class="affil">University of Minnesota</span>

				<span class="name">David Rudnick, MD</span>
				<span class="affil">Washington University School of Medicine</span>

				<span class="name">Robert H. Squires, Jr., MD</span>
				<span class="affil">University of Pittsburgh School of Medicine</span>

				<span class="name">Stephen Strom, PhD</span>
				<span class="affil">Karolinska Institutet</span>


			</div> <!-- liner -->
			</div>

			<div class="col-sm-5 col-md-5 col-lg-5 photo-module-one">
				<!-- photo is managed by the background-size property -->
			</div>

		</div> <!-- row -->
	</div> <!-- container-full -->



	<!--
	////
	//// MODULE TWO - Current state of auxiliary liver transplantation
	//// 
	-->

	<div class="container-full module module-two">
		<div class="row">

			<div class="col-sm-7 col-sm-push-5 col-md-7 col-md-push-5 col-lg-7 col-lg-push-5">	
			<div class="liner big no-top mobile-friendly">
				<hr class="spacer20">

				<hr class="spacer10 visible-sm visible-lg">
				
				<h3>Current state of auxiliary liver transplantation</h3>

				<span class="name">Yasuhiro Fujimoto, MD, PhD</span>
				<span class="affil">University of Minnesota</span>

				<span class="name">Nigel Heaton, MD</span>
				<span class="affil">King's College Hospital</span>

				<span class="name">Ira J. Fox, MD</span>
				<span class="affil">McGowan Institute for Regenerative Medicine</span>


			</div> <!-- liner -->
			</div>

			<div class="col-sm-5 col-sm-pull-7 col-md-5 col-md-pull-7 col-lg-5 col-lg-pull-7 photo-module-two">
				<!-- photo is managed by the background-size property -->
			</div>

		</div> <!-- row -->
	</div> <!-- container-full -->


	<!--
	////
	//// MODULE THREE - Status of iPS-derived liver cells and tissue
	//// 
	-->

	<div class="container-full minblue module module-three">
		<div class="row">

			<div class="col-sm-7 col-md-7 col-lg-7">	
			<div class="liner big no-top mobile-friendly">
				<hr class="spacer20">

				<hr class="spacer10 visible-sm visible-lg">
				
				<h3>Status of iPS-derived liver cells and tissue</h3>

				<span class="name">Holger Willenbring, MD, PhD</span>
				<span class="affil">University of California San Francisco</span>

				<span class="name">Stephen A. Duncan, DPhil</span>
				<span class="affil">Medical College of Wisconsin</span>

				<span class="name">Guillermo Garcia-Carde&#241;a, PhD</span>
				<span class="affil">Harvard Medical School</span>

				<span class="name">Takanori Takebe, MD</span>
				<span class="affil">Yokohama City University Graduate School of Medicine</span>


			</div> <!-- liner -->
			</div>

			<div class="col-sm-5 col-md-5 col-lg-5 photo-module-three">
				<!-- photo is managed by the background-size property -->
			</div>

		</div> <!-- row -->
	</div> <!-- container-full -->



	<hr class="spacer60 hidden-xs">


	<!-- middle quote section -->
	<div class="container">
		<div class="row quote">

			<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
				<img src="/images/quote.png" alt="" class="quote-mark">
			</div>

			<div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
				<span class="quote-text">
					We used to transplant patients who were basically two days away from dying.  Now we transplant livers far earlier, amplifying the number of diseases that can be addressed with transplantation.
				</span>
			</div>

		</div> <!-- row -->
	</div> <!-- container -->


	<hr class="spacer60 hidden-xs">



	

	<!--
	////
	//// MODULE ONE - Perspectives on Liver Function
	//// 
	-->

	<div class="container-full minblue module module-four">
		<div class="row">

			<div class="col-sm-7 col-md-7 col-lg-7">	
			<div class="liner big no-top mobile-friendly">
				<hr class="spacer20">

				<hr class="spacer10 visible-sm visible-lg">
				
				<h3>Regenerating the Bile Duct</h3>

				<span class="name">Shannon S. Glaser, PhD</span>
				<span class="affil">Texas A&amp;M University Health Science Center</span>

				<span class="name">Stacey S. Huppert, PhD</span>
				<span class="affil">Cincinnati Children's Hospital Medical Center</span>



			</div> <!-- liner -->
			</div>

			<div class="col-sm-5 col-md-5 col-lg-5 photo-module-four">
				<!-- photo is managed by the background-size property -->
			</div>

		</div> <!-- row -->
	</div> <!-- container-full -->



	<!--
	////
	//// MODULE TWO - Current state of auxiliary liver transplantation
	//// 
	-->

	<div class="container-full module module-five">
		<div class="row">

			<div class="col-sm-7 col-sm-push-5 col-md-7 col-md-push-5 col-lg-7 col-lg-push-5">	
			<div class="liner big no-top mobile-friendly">
				<hr class="spacer20">

				<hr class="spacer10 visible-sm visible-lg">
				
				<h3>Quality standards for the liver matrix</h3>

				<span class="name">Thomas W. Gilbert, PhD</span>
				<span class="affil">ACell, Inc.</span>

				<span class="name">Shay Soker, PhD</span>
				<span class="affil">Wake Forest School of Medicine</span>

				<span class="name">William R. Wagner, PhD</span>
				<span class="affil">University of Pittsburgh</span>

				<span class="name">Samuel Stupp, PhD</span>
				<span class="affil">Northwestern University</span>


			</div> <!-- liner -->
			</div>

			<div class="col-sm-5 col-sm-pull-7 col-md-5 col-md-pull-7 col-lg-5 col-lg-pull-7 photo-module-five">
				<!-- photo is managed by the background-size property -->
			</div>

		</div> <!-- row -->
	</div> <!-- container-full -->


	<!--
	////
	//// MODULE THREE - Status of iPS-derived liver cells and tissue
	//// 
	-->

	<div class="container-full minblue module module-six">
		<div class="row">

			<div class="col-sm-7 col-md-7 col-lg-7">	
			<div class="liner big no-top mobile-friendly">
				<hr class="spacer20">

				<hr class="spacer10 visible-sm visible-lg">
				
				<h3>Early attempts to assemble a liver</h3>

				<span class="name">Scott L. Nyberg, MD, PhD</span>
				<span class="affil">Mayo Clinic</span>

				<span class="name">Alejandro Soto-Guti&eacute;rrez, MD, PhD</span>
				<span class="affil">McGowan Institute for Regenerative Medicine</span>

				<span class="name">Eric Lagasse, PharmD, PhD</span>
				<span class="affil">McGowan Institute for Regenerative Medicine</span>

				<div class="row contributors">
					<div class="col-md-12">
						<span class="name"><em>Contributors:</em></span>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<span class="name">Ken Fukumitsu, MD, PhD</span>
						<span class="name">Bryon Petersen, PhD</span>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<span class="name">Jason A. Wertheim, MD, PhD</span>
						<span class="name">Hiroshi Yagi, MD, PhD</span>
					</div>
				</div>


			</div> <!-- liner -->
			</div>

			<div class="col-sm-5 col-md-5 col-lg-5 photo-module-six">
				<!-- photo is managed by the background-size property -->
			</div>

		</div> <!-- row -->
	</div> <!-- container-full -->


</template>