<template name="summit2014">

	<!-- event hero unit -->
	<div class="hero event-hero summit">
		<div class="container">

			<div class="row">

				<div class="col-sm-3 col-md-3 col-lg-3 hidden-xs">
					<img src="/images/liver-stamp-shadow.png" alt="" class="liver-stamp">
				</div>

				<div class="col-sm-9 col-md-9 col-lg-9">
					<hr class="spacer20 hidden-xs">

					<h4><em>Our Inaugural Event:</em></h4>
					<hr class="spacer10 hidden-xs">
					<h1><strong>The Whole Liver Replacement</strong><br> State-of-the-Science Summit</h1>
					<h5>April 29-30th, 2014 &mdash; Chicago, USA </h5>
				</div>

			</div> <!-- row -->

		</div> <!-- container -->
	</div> <!-- event-hero -->



	<!-- event overview with rotating image on right side -->
	<div class="container-full">
		<div class="row">

			<div class="col-md-8 col-lg-8">	
			<div class="liner big no-top mobile-friendly">
				<hr class="spacer20">

				<hr class="spacer10 visible-sm visible-lg">
				
				<h4><em>Event <span class="orange">Overview</span></em></h4>
				<p>
					Science is on the brink of breakthroughs that will soon make it possible to engineer an auxiliary liver graft and eventually a solid liver for human transplantation. In April the world’s top Academic Investigators from leading research universities worldwide gathered to get a holistic perspective of recent scientific advances and lay the foundation for future collaborative efforts through the formation of a transdisciplinary research community.
				</p>

				<p>
					Over the next several months, the Whole Liver Research Community will synthesize information and insights derived from the WLR Summit and identify next-step research initiatives.
				</p>

			</div> <!-- liner -->
			</div>

			<div class="col-sm-12 col-md-4 col-lg-4 photo-sectional-two">
				<!-- photo is managed by the background-size property -->
			</div>

		</div> <!-- row -->
	</div> <!-- container-full -->



	<hr class="spacer50 hidden-xs">



	<!-- page-leading quote section -->
	<div class="container">
		<div class="row quote">

			<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
				<img src="/images/quote.png" alt="" class="quote-mark">
			</div>

			<div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
				<span class="quote-text">
					Within a year or two, this meeting will have generated new ideas, new collaborations, new papers, and new applications to the NIH. All because 25 top scientists met together for nine hours and began thinking about things a little bit differently.
				</span>
			</div>

		</div> <!-- row -->
	</div> <!-- container -->



	<!-- middle quote section -->
	<div class="container">
		<div class="row quote">

			<div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
				<img src="/images/quote.png" alt="" class="quote-mark">
			</div>

			<div class="col-xs-9 col-sm-10 col-md-11 col-lg-11">
				<span class="quote-text">
					We used to transplant patients who were basically two days away from dying.  Now we transplant livers far earlier, amplifying the number of diseases that can be addressed with transplantation.
				</span>
			</div>

		</div> <!-- row -->
	</div> <!-- container -->

	<hr class="spacer60 hidden-xs">

</template>