<template name="contact">

	<div class="hero standard-hero">

		<div class="wo-plug hidden-sm hidden-xs">
			<hr class="spacer10">
			<img src="/images/liver-stamp-shadow.png" alt="" class="liver-stamp">

			<div class="content">
				<p>The Whole Liver Research Community is an SOS Solving Organ Shortage research initiative. <a href="#">Click here to view our other communities</a>.</p>
			</div>
		</div>


		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<hr class="spacer40 hidden-xs">
					<h1><strong>Contact</strong> Us</h1>
					<h4 class="sub"><em>We'd love to hear from you.</em></h4>
				</div>
			</div>
		</div>

	</div>


	<hr class="spacer60 hidden-xs">


	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-4 col-md-push-8 col-lg-4 col-lg-push-8">
				<hr class="spacer40">
				<h5 style="line-height: 1.5;">We welcome your questions. Use our form to submit an inquiry or <a href="mailto:contact@wholeorgan.org">email us directly</a>.</h5>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-8 col-md-pull-4 col-lg-8 col-lg-pull-4">
			<form class="contact" action="" style="">

				<div class="row">
					<div class="col-md-3">
						<label class="skinny">Name</label>
					</div>

					<hr class="spacer10">

					<div class="col-md-12">
						<input name="first_name" type="text" placeholder="">
					</div>
				</div>

				<hr class="spacer20">

				<div class="row">
					<div class="col-md-12">
						<label class="skinny">Email Address</label>
					</div>
					<hr class="spacer10">
					<div class="col-md-12">
						<input name="email" type="text" placeholder="john@example.com">
					</div>
				</div>

				<hr class="spacer20">

				<div class="row">
					<div class="col-md-12">
						<label class="skinny">Message</label>
					</div>
					<div class="clear"></div>
					<div class="col-md-12">
						<textarea name="message"></textarea>
					</div>
				</div>

				<hr class="spacer60">

				<div class="center">
					<button id="contact-submit" class="long orange">Send Message</button>
				</div>

			</form>
			</div>
		</div>

	</div> <!-- container -->

	<hr class="spacer60">


</template>