<template name="header">
	<header class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="nav navbar-nav navbar-brand font-title" href="/"><span class="orange">liver</span>.wholeorgan.org</a>
			<div id="navbar-collapse" class="navbar-collapse collapse">
				<br>
				<ul class="nav navbar-nav navbar-link navbar-right">
					<li><a href="/">Home</a></li>
					<li><a href="{{pathFor 'about'}}">About</a></li>
					<li><a href="{{pathFor 'membersList'}}">Members</a></li>
					<li><a href="{{pathFor 'latest'}}">Latest</a></li>
					<li><a href="{{pathFor 'articleList'}}">Articles</a></li>
					{{#unless currentUser}}
					<li><a href="/signin">Log In</a></li>
					{{/unless}}
					{{#if currentUser}}
					<li><a href="/signin">{{email}}</a></li>
					{{/if}}

				</ul>
			</div>
		</div>
	</header>
</template>