<template name="home">
	<!-- home / landing page container -->

	<div class="hero community-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-9 col-lg-7">
					<h4><em>Welcome to the</em></h4>
					<hr class="spacer10">
					<h1>Whole <strong>Liver</strong> Research Community</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- full-width container -->
	<div class="container-full">
		<div class="row">

			<!-- photo -->
			<div class="col-sm-12 col-md-4 col-lg-5 photo-sectional-one"></div>

			<!-- content -->
			<div class="col-md-8 col-lg-7">	
				<div class="liner big no-top mobile-friendly">
					<hr class="spacer20">
					<hr class="spacer10 visible-sm visible-lg">
					
					<h4><em>About our <span class="orange">Community</span></em></h4>

					<p>The Whole Liver Research Community was formed in 2014 to serve as a public-private  interface for advancing scientific research specifically focused on engineering livers for human transplantation. The trandsciplinary Research Community is comprised of the world’s top academic investigators – experts in liver biology, function and rapidly advancing stem-cell technologies.</p>  

					<p>We believe close collaboration across multiple scientific disciplines will speed progress, yield valuable therapeutics for life-threatening liver diseases and compound the value of every dollar invested in engineering replacement livers for transplantation.</p>

				</div>
			</div>
		</div>

		<hr class="spacer40 visible-xs visible-sm">
	</div>
	<!-- // full-width container -->


	<div class="container">
		<hr class="spacer60">
		<hr class="spacer30 hidden-sm hidden-xs">

		<div class="row">

			<!-- SECTION ONE ////////////////////////  -->
			<div class="col-md-4 col-lg-4"> 
				<h5>Our <strong>Members</strong></h5>

				<p>
					A consortium of top Academic Investigators from leading research universities and medical facilities worldwide.
				</p>

				<p><a href="#">View Members »</a></p>
			</div> <!-- section one -->



			<!-- SECTION TWO //////////////////////// -->
			<div class="col-md-4 col-lg-4">
				<hr class="spacer40 visible-sm visible-xs">
				<h5>Latest <strong>Publications</strong></h5>

				<hr class="spacer10">

				<!-- publications -->
				<ul class="latest-papers">
					<li><a href="#">Assembly of human organs from stem cells to study liver disease.</a></li>
					<li><a href="#">A nonhuman primate model of human radiation-induced venocclusive liver disease and hepatocyte injury.</a></li>
					<li><a href="#">Increased reprogramming of human fetal hepatocytes compared with adult hepatocytes in feeder-free conditions.</a></li>
				</ul>
			</div> <!-- section two -->



			<!-- SECTION THREE //////////////////////// -->
			<div class="col-md-4 col-lg-4">
				<hr class="spacer40 visible-sm visible-xs">

				<h5>Latest <strong>Press</strong></h5>
				
				<p class="orange">
					April 29, 2014
				</p>
				
				<p class="cln">
				<a class="blue" href="http://www.businesswire.com/news/home/20140429005439/en/Transdisciplinary-Research-Team-Launch-Science-Driven-Effort-Engineer#.U3EyreZdXWt" alt="Transdisciplinary Research Team to Launch Science-Driven Effort to Engineer a Whole Liver for Human Transplantation" target="_blank">
					Transdisciplinary Research Team to Launch Science-Driven Effort to Engineer a Whole Liver for Human Transplantation
				</a>
				</p>

				<p class="small">The world’s leading clinical-based researchers in liver biology, regeneration and tissue engineering are gathering for the first-ever Whole Liver Replacement State-of-the-Science Summit in Chicago&hellip;</p>
			</div> <!-- section three -->

		</div> <!-- row -->
	</div> <!-- container -->


	<hr class="spacer60">
	<hr class="spacer30 hidden-xs">


	<div class="hero event-hero">
		<div class="container">


			<div class="row">
				<div class="col-md-8">
					<hr class="spacer10 hidden-xs">

					<h4><em>2014 Annual</em></h4>
					<h2>Whole Liver Replacement<br> State-of-the-Science Summit</h2>

					<p>Organ transplantation research is rapidly shifting away from immunosuppressive regimens and tolerance induction toward stem-cell technologies that use a patient’s own cells to engineer replacement organs. The world’s leading clinical-based experts in liver biology, regeneration and tissue engineering held their inaugural State-of-the-Science Summit in Chicago to share insights and forge research partnerships to address daunting technical challenges.</p>
				</div>


				<div class="col-md-4">
					<hr class="spacer60">

					<div class="db-section rounded">
						<div class="liner big">
							<h5 class="white"><strong>Day 1:</strong> April 29th</h5>
							<h6>Summit Kickoff Conversation</h6>

							<hr class="spacer20">
							<h5 class="white"><strong>Day 2:</strong> April 30th</h5>
							<h6>State-of-the-Science Summit</h6>
						</div>
					</div> <!-- db-section -->

					<p>VIEW SUMMIT HIGHLIGHTS >>>>></p>
				</div>
			</div> <!-- row -->

			<hr class="spacer60">

		</div> <!-- container -->
	</div> <!-- event hero -->

</template>
