<template name="supporters">


	<div class="hero supporters-hero">

		<div class="wo-plug hidden-sm hidden-xs">
			<hr class="spacer10">
			<img src="/images/liver-stamp-shadow.png" alt="" class="liver-stamp">

			<div class="content">
				<p>The Whole Liver Research Community is an SOS Solving Organ Shortage research initiative. <a href="http://www.solvingorganshortage.org" target="_blank" alt="SOS Solving Organ Shortage">Click here</a> to learn more about SOS.</p>
			</div>
		</div>


		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<hr class="spacer40 hidden-xs">
					<h1>Our <strong>Supporters</strong></h1>
					<h4 class="sub"><em>Forming alliances to achieve common goals.</em></h4>
				</div>
			</div>
		</div>

	</div>
	
	<div class="minblue-back">
		<hr class="spacer50">
		<div class="container">
			<hr class="spacer30 hidden-xs">

			<h3><strong>Coordinating</strong> Organization</h3>
			<hr class="spacer10">
			<div class="dark fullwidthline"></div>
			<hr class="spacer60">

			<div class="row" id="sos">
				<div class="col-sm-5 col-md-4">
					<div class="center">
						<img src="/images/sos_new.png" style="width: 88%;" alt="">
						<hr class="spacer40 visible-xs">
					</div>
				</div>

				<div class="col-sm-7 col-md-8">
					<h4>SOS Solving Organ Shortage</h4>
					<hr class="spacer10">
					<p class="cln">SOS is an international nonprofit specifically formed to support the Whole Liver Research Community by providing administrative assistance, generating awareness of its purpose and achievements, and soliciting funds to support its research efforts. <a href="http://www.solvingorganshortage.org" target="_blank">Visit Website &raquo;</a></p>
				</div>
			</div>

		</div> <!-- container -->
		<hr class="spacer60 hidden-xs">
		<hr class="spacer40">
	</div> <!-- minblue-back -->


	<hr class="spacer60 hidden-xs">
	<hr class="spacer30 visible-xs">


	<div class="container organizers">
		<h3>Supporters</h3>
		<hr class="spacer10">
		<div class="dark fullwidthline"></div>
		<hr class="spacer40">

		<div class="row">
			<div class="col-md-12">

				<div class="row">
					<div class="col-md-3 col-sm-3 center">
						<hr class="spacer20">
						<a href="http://www.700forscience.org" target="_blank"><img src="/images/darkerlogo2.png" class="sfs" alt=""></a>
					</div>

					<div class="col-md-3 col-sm-3 center">
						<hr class="spacer10">
						<hr class="spacer20">
						<a href="http://www.cellulardynamics.com" target="_blank"><img src="/images/CDI.png" class="cdi" alt=""></a>
					</div>

				</div>

				<hr class="spacer60 hidden-xs">
				<div class="fullwidthline dark hidden-xs"></div>
				<hr class="spacer40 hidden-xs">

				<div class="row">
					<div class="col-md-3 col-sm-3 center">
						<hr class="spacer30">
						<a href="http://www.acell.com" target="_blank"><img src="/images/Acell_Logo.png" class="acell" alt=""></a>
					</div>
				

					<div class="col-md-4 col-sm-4">
						<div class="center">
							<hr class="spacer30">
							<a href="http://www.dhti.cmu.edu/dhti/" target="_blank"><img src="/images/carnegie.png" class="carnegie" alt=""></a>
						</div>
					</div>

					<div class="col-md-3 col-sm-3">
						<hr class="spacer10">
						<div class="center">
							<hr class="spacer20">
							<a href="http://www.landesbioscience.com/journals/organogenesis" target="_blank"><img src="/images/organogenesis_logo.png" class="organo" alt=""></a>
						</div>
					</div>

				</div>

				<hr class="spacer60 hidden-xs">
				<div class="fullwidthline dark hidden-xs"></div>
				<hr class="spacer50 hidden-xs">

				<div class="row">
					<div class="col-md-2 col-sm-2 center">
						<a href="http://www.liverfoundation.org" target="_blank"><img src="/images/ALF.png" class="alf" alt=""></a>
					</div>
				

					<div class="col-md-4 col-sm-4 center">
						<hr class="spacer20">
						<a href="http://www.feinberg.northwestern.edu/sites/transplant/" alt="Feinberg School of Medicine Comprehensive Transplant Center" target="_blank"><img src="/images/CTC2.png" class="ctc" alt=""></a>
					</div>

					<div class="col-md-3 col-sm-3 center">
						<hr class="spacer20">
						<a href="http://www.mirm.pitt.edu/" alt="McGowan Institute for Regenerative Medicine" target="_blank"><img src="/images/mcgowan_blue2.png" class="mcgowan" alt=""></a>
					</div>
				</div>
			</div> <!-- cols -->
		</div> <!-- row -->
	</div>


	<hr class="spacer60">
	<hr class="spacer60">
</template>