@import url('http://fonts.googleapis.com/css?family=Muli|Open+Sans:300italic,400italic,600italic,400,300,600');

// declare some fonts
open = 'Open Sans', sans-serif;
muli = 'Muli', sans-serif;

// declare some colors 

// all of the blues whoa whoa whoa getting pretty crazy
blue = #006bb3
darkblue = #1b537b
bgblue = #164d73
minblue = #f6f8fa
fadedblue = #6496b9
darkfaded = #4a5963

orange = #f26533
textorange = #ee5f12

// declare some font weights
normal = 400
light = 300
heavy = 600

/* MEDIA QUERY GUIDE 
Large devices — desktops, 1200px and up
Medium devices — desktops, 992px and up
Small devices — tablets, 768px and up
XS devices — less than 768px
*/



/* ------------------------------------------------------------------------------------------------- */


/* Full-Width Container Hack */
.container-full
	padding 0 15px /* don't forget bootstrap's 15px gutters */
	margin 0 auto

	&.minblue
		background-color minblue

.container
	margin 0 auto /* for some reason i had to re-declare this here b/c containers weren't centering ? */

/* 
 * TYPOGRAPHY
 *
 * Responsive styles for text - mobile devices up to normal size. Currently a
 * WIP. If you want to adjust a header style responsively, do it here. They 
 *
 *
 */

h1, h2, h3, h4, h5, h6
	font-family open
	font-weight light
	color darkblue /* default color will be darkblue */
	margin 0
	padding 0

	// what happens when a header is also a link?
	a
		color blue

	// color options
	&.faded
		color fadedblue
	&.darkblue
		color darkblue
	&.orange
		color textorange
	&.darkfaded
		color darkfaded

h1
	font-size 28px
	line-height 1.2
h2
	font-size 28px
h3
	font-size 28px
h4
	font-size 26px
h5
	font-size 24px
	&.small
		font-size 22px
		line-height 1.3
h6
	font-size 18px

p
	color #4d6473
	line-height 1.7
	font-size 14px
	margin 15px 0 0 0
	font-weight light

	&.cln
		margin 0

	&.small
		font-size 13px
		line-height 1.5

	&.blue
		color blue
	&.orange
		color textorange

// everything over 768px (tablet screens)
@media handheld, screen and (min-width: 768px)
	h1
		font-size 60px
		line-height 1.2
	h2
		font-size 42px
	h3
		font-size 36px
	h4
		font-size 30px
	h5
		font-size 26px
		&.small
			font-size 24px
			line-height 1.3
	h6
		font-size 20px
		color darkblue

	p
		font-size 16px
		line-height 1.8

		&.small
			font-size 15px

// everything over 992px (medium screens)
@media handheld, screen and (min-width: 992px)
	h1
		font-size 60px
		line-height 1.2
	h2
		font-size 42px
	h3
		font-size 36px
	h4
		font-size 30px
	h6
		font-size 20px


// styles that stay the same across all screen sizes
strong
	font-weight 400

a
	color textorange

	&.blue
		color blue
	


/* 
 * NAVIGATION
 *
 * Styles for the <header> and various navbar nests.
 *
 *
 */

header
	z-index 100 /* allows dropdown menu to scroll on top of other elements,
				for some reason there was an issue with it coming in behind
				current content ? */


// default (mobile) styles
.navbar
	height 70px
	font-size 16px
	font-family muli
	padding 0
	margin 0 /* important rule */

.navbar-brand
	margin-top 9px
	img
		height 60%
		width auto

.navbar-default
	.navbar-nav
		li
			a
				color #1b5680

.navbar-collapse
	background-color white
	z-index 100

.navbar-toggle
	margin-top 18px

// everything over 768px (tablet screens)
@media handheld, screen and (min-width: 768px)
	.navbar
		height 96px

	.navbar-brand
		margin-top 0

		img.tabletlogo
			display block
			height 65px
			width auto

	.navbar-default
		.navbar-nav
			padding 15px 0 
			li
				a
					padding 3px 10px 3px 10px
					margin 0px 30px 5px 0

					&:hover
						color blue
						background-color minblue
						border-radius 2px


// everything over 992px (medium screens)
@media handheld, screen and (min-width: 992px)
	.navbar
		padding 15px 0

	.navbar-brand
		margin-top 4px
		img
			height 95%

	.navbar-default
		.navbar-nav
			padding 0

// everything over 1200px (large screens)
@media handheld, screen and (min-width: 1200px)
	.navbar-brand
		margin-top 5px

		img
			height 100%





/* 
 * CONTENT SECTIONS
 *
 * Includes the specialized photo sections that work with the container-full class
 * as well as lists and full-width + boxed backgrounds.
 *
 * For hero units see heroes.styl
 *
 */


// ALL PAGES use photo-sectional-one for a wider photo
.photo-sectional-one
	height 200px
	margin-bottom 10px
	background url('/images/alex-group1.jpg') 30% 50%
	background-size cover

// everything over 768px (tablet screens)
@media handheld, screen and (min-width: 768px)
	.photo-sectional-one
		height 200px
		margin-bottom 0

// everything over 992px (medium screens)
@media handheld, screen and (min-width: 992px)
	.photo-sectional-one
		height 380px
		display block
		background-size cover

// everything over 1200px (large screens)
@media handheld, screen and (min-width: 1200px)
	.photo-sectional-one
		height 380px



// ALL PAGES use photo-sectional-two for a thinner but taller photo
.photo-sectional-two
	height 200px
	margin-top 30px
	background url('/images/nigel-group.jpg') 60% 50%
	background-size cover

// everything over 768px (tablet screens)
@media handheld, screen and (min-width: 768px)
	.photo-sectional-two
		height 200px

// everything over 992px (medium screens)
@media handheld, screen and (min-width: 992px)
	.photo-sectional-two
		height 440px /* might have to use min-height on these */
		margin 0

// everything over 1200px (large screens)
@media handheld, screen and (min-width: 1200px)
	.photo-sectional-two
		height 440px



// SUMMIT quotes
.quote
	padding 30px 0

	img.quote-mark
		width 100%
		max-width 100%
		margin-top 5px

	span.quote-text
		font-family open
		font-weight light
		color darkblue
		font-style oblique

		font-size 18px

	h5
		font-size 18px

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		img.quote-mark
			width 75%
			margin-top 10px
		span.quote-text
			font-size 30px
		h5
			font-size 26px

	// everything over 992px (medium screens)
	@media handheld, screen and (min-width: 992px)
		img.quote-mark
			width 100%
		span.quote-text
			font-size 36px
	
	// everything over 1200px (large screens)
	@media handheld, screen and (min-width: 1200px)
		span.quote-text
			font-size 36px


// SUMMIT facilitator photos
.facil-photo
	width 100%
	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		width 100%


// PAPERS
.title-section
	padding 20px
	background #f3f3f3
	margin-bottom 40px

.article-content
	padding 20px

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		padding 0


// PARTICIPANTS
.inv_box
	padding-bottom 20px
	text-align center

	p
		line-height 1.3

	.row
		padding 15px 0
		border-radius 5px

		&:hover
			background #f6f8f9
			// box-shadow 1px 1px 1px #eee inset
	img
		border-radius 4px

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		padding-bottom 0
		text-align left

		h5
			margin-top 15px

	// everything over 992px (tablet screens)
	@media handheld, screen and (min-width: 992px)
		h5
			margin-top 20px

	// everything over 1200px (large screens)
	@media handheld, screen and (min-width: 1200px)
		h5
			margin-top 30px


img.inv
	width 100%
	max-width 150px /* for mobile phones */
	padding-bottom 20px

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		max-width 275px
		padding 0

	// everything over 992px (tablet screens)
	@media handheld, screen and (min-width: 992px)
		max-width 100%


// HOME unordered list of the latest publications
ul.latest-papers
	list-style-type none
	margin 0
	padding 0
	font-family muli

	a
		color blue

	li
		padding 10px 0
		border-bottom 1px solid #e4ecf0

		&:last-child
			border none


// SUPPORTERS LOGOS
.organizers
	.center
		text-align center

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			text-align left
	.sfs
		width 50%
		margin-bottom 20px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 75%
			margin 0
	.cdi
		width 55%
		margin-bottom 20px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 95%
			margin 0
	.acell
		width 50%
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 100%
			margin 0
	.carnegie
		width 75%
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 100%
			margin 0
	.organo
		width 55%
		margin-bottom 20px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 100%
			margin 0
	.alf
		width 30%
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 85%
			margin 0
	.ctc
		width 70%
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 98%
			margin 0
	.mcgowan
		width 60%
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 100%
			margin 0


.summit-supporters
	.center
		text-align center

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			text-align left
	.sos
		width 120px
		margin-right 10px
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 250px
			margin-top 10px
			margin-right 20px
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			width 250px
			margin-top 10px
			margin-right 20px
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			width 250px
			margin-top 10px
			margin-right 40px
	.sfs
		width 80px
		margin-right 10px
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 150px
			margin-top 10px
			margin-right 40px
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			width 150px
			margin-top 10px
			margin-right 40px
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			width 150px
			margin-right 50px
	.cdi
		width 100px
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 210px
			margin-top 10px
			margin-right 20px
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			width 210px
			margin-top 10px
			margin-right 20px
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			width 210px
			margin 0
	.acell
		width 100px
		margin-right 10px
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 180px
			margin-right 20px
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			width 230px
			margin-right 50px
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			width 230px
			margin-right 50px
	.carnegie
		width 160px
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 280px
			margin-right 20px
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			width 330px
			margin-right 50px
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			width 330px
			margin-right 50px
	.organo
		width 130px
		margin-right 10px
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 200px
			margin 0
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			width 250px
			margin 0
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			width 250px
			margin 0
	.ctc
		width 180px
		margin-right 10px
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 260px
			margin-right 40px
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			width 325px
			margin-right 40px
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			width 325px
			margin-right 40px
	.mcgowan
		width 130px
		margin-right 10px
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 230px
			margin-right 40px
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			width 230px
			margin-right 40px
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			width 230px
			margin-right 40px
	.alf
		width 60px
		margin-bottom 10px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			width 100px
			margin 0
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			width 105px
			margin 0
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			width 105px
			margin 0

// ALL PAGES box areas
.db-section
	background-color bgblue

	&.rounded
		border-radius 3px

	h5
		&.white
			color #fff
		&.blue
			color minblue
	h6
		color #b3cada
		margin-top 5px

		&.light
			color #e8eef0

		&.white
			color #fff

	span.accent
		color fadedblue
		font-style oblique
		font-size 14px
		font-weight light
	


/* 
 * FOOTER STYLES
 *
 * Self-explanatory, I hope.
 *
 */

footer
	border-top 1px solid #dde5e8
	
	p
		font-family muli
		font-size 16px
		color #6d889a
		line-height 1.6
	ul.footernav
		margin 0
		padding 0

		li
			list-style none
			display inline-block
			margin 0
			padding 0
			font-family muli
			font-size 15px
			a
				color #1b5680
				margin 0px 30px 5px 0
			&:hover
					color #6fdc6f
					text-decoration none
			&.footer_link
				a
					color textorange

	// SOS Solving Organ Shortage callout
	img.sos-link
		width 100%
		height auto

	// WO proper logo
	img.logoproper
		width 100%
		height auto

// everything over 992px (medium screens)
@media handheld, screen and (min-width: 992px)
	footer
		h6
			font-size 16px /* trying to avoid a linebreak here... */

// everything over 1200px (large screens)
@media handheld, screen and (min-width: 1200px)
	footer
		h6
			font-size 20px /* this is the default size anyhow */






/* 
 * INPUT AND BUTTON STYLES
 *
 * Includes contact form and email signup styles as well as all standardized
 * buttons to be included across the site.
 *
 */



form
	margin 0
	padding 0

	@media handheld, screen and (min-width: 600px)
		margin-left 0

	@media handheld, screen and (min-width:768px)
		margin-left 0

	@media handheld, screen and (min-width: 992px)
		margin-left 0

	textarea
		width 100%
		max-width 100%
		height 200px
		max-height 200px
		background-color minblue
		border 1px solid blue
		border-radius 3px
		outline none
		padding 20px
		box-shadow inset 0px 2px 1px darken(#f3f8f9, 6%)

	label
		color darkblue
		font-family muli
		font-size 15px
		padding 15px 0

		&.skinny
			padding-bottom 0

	// default input
	input
		background-color minblue
		border 1px solid blue
		border-radius 3px
		font-family muli
		font-size 16px
		box-shadow inset 0px 2px 1px darken(#f3f8f9, 6%)
		width 100%
		margin 0

	input[type=checkbox]
		border none
		box-shadow none
		display inline-block
		width auto !important

	input[type=text], input[type=password], input[type=email]
		padding 15px 20px

	.help-block
		margin-top -18px
		color #bbb
		font-style oblique

		&:hover
			cursor pointer
			color #888



form.email-subscribe
	
	input[type=text], input[type=submit]
		max-width 400px
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			max-width none
	
	input
		font-family open
		font-weight light
		background-color darkblue
		box-shadow none
		color white

		// this is not working for some reason
		::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder
			color white !important
			opacity 1

	input[type=text], input[type=email]
		width 100%
		border-radius 3px
		border 1px solid darken(minblue, 30%)
		font-size 22px
	input[type=submit]
		width 100%
		height 63px
		border-radius 3px
		border 1px solid white
		font-size 22px



// helpers for buttons
border-radius(arg)
	-webkit-border-radius arg
	-moz-border-radius arg
	border-radius arg
	behavior url(/pie/PIE.htc)

background-gen(color)
	background-color color
	&:hover
		background-color lighten(color, 10%)


// button styles	
a.button, button
	padding 15px 30px
	background-color #333 // default color
	color #fff // default
	font-weight light

	box-shadow none
	border none
	outline none

	font-family open
	font-size 22px

	border-radius(3px)

	&:hover
		text-decoration none

	&:active
		position relative
		top 1px

	&.small
		padding 10px 30px
		font-size 20px

	&.long
		padding 14px 65px

	&.fluid
		display inline-block
		padding 10px
		width 100%
		max-width 300px

	&.fillwidth
		width 100%
		display block
		font-size 18px

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			font-size 22px

		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			font-size 18px

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			font-size 22px

	&.blue
		background-gen(darkblue)

		&:hover
			background-color lighten(blue, 5%)
			color white

	&.orange
		background-gen(orange)
		color white

	&.white
		background-gen(#fff)
		color textorange
		// border: 1px solid #ddd;

		&:hover 
			background-gen(minblue)
			color darken(textorange, 5%)


	img.arrow
		position relative
		top 2px
		float right

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			top 5px

		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			top 2px

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			top 5px

// work in progress
.buttonset
	a
		display inline-block
		padding 0
		height 45px

		&.main
			width 80%
		&.sub
			width 10%


/* 
 * MISCELLANEOUS STYLES
 *
 * Includes easy centering, full width dividers (light and regular), spacer
 * helper classes, and liners for adding padding to columns without breaking
 * the bootstrap grid.
 *
 */

// easy center
.center
	text-align center
	margin auto

// mobile-only center
.mobile-center
	text-align center
	margin auto

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		text-align left
		margin 0 

// easy align right
.alignright
	text-align right


// image standards are important
img
	max-width 100%

// fullwidth divider
.fullwidthline
	background-color #e4ecf0
	height 1px
	width 100%

	&.dark
		background-color #dde5e8


// spacers
hr
	clear both
	border-style none
	height 1px
	margin 0
	display block

spacer(n)
	height n

	&.nomob
		@media handheld, screen and (max-width: 768px)
			display none

	&.notab
		@media handheld, screen and (max-width: 992px)
			display none

	&.mobonly
		display none
		
		@media handheld, screen and (max-width: 768px)
			display block

hr.spacer5
	spacer(5px)

hr.spacer10
	spacer(10px)

hr.spacer20
	spacer(20px)

hr.spacer30
	spacer(30px)

hr.spacer40
	spacer(40px)

hr.spacer50
	spacer(50px)

hr.spacer60
	spacer(60px)

// liners
.liner
	padding 20px

	&.big
		padding 30px

	&.noleft
		padding-left 0

	&.noright
		padding-right 0

	&.notop
		padding-top 0

	&.nobottom
		padding-bottom 0

	&.mobile-friendly
		// everything over 768px (tablet screens)
		@media handheld, screen and (max-width: 768px)
			padding 5px

		// everything over 768px (tablet screens)
		@media handheld, screen and (max-width: 992px)
			padding 10px


// full-width colors
.minblue-back
	background-color minblue
