@require "main"

/* 
 * MODULE-SPECIFIC STYLES
 *
 * Includes the specialized photo sections that work with the container-full class
 * as well as lists and full-width + boxed backgrounds.
 *
 * For hero units see heroes.styl
 *
 */


.module
	max-width 1900px

	h3
		margin-bottom 20px
	span
		line-height 1.4
		display block
		font-family muli
	
	span.name
		font-size 18px
		color darkfaded

	span.affil
		font-size 16px
		color #717f88
		margin-bottom 15px

	// everything over 768px (tablet screens)
	@media handheld, screen and (min-width: 768px)
		h3
			font-size 24px
		span.affil
			margin-bottom 5px


	// everything over 992px (medium screens)
	@media handheld, screen and (min-width: 992px)
		h3
			font-size 30px
			margin-bottom 20px
		span.affil
			margin-bottom 15px

	// everything over 1200px (large screens)
	@media handheld, screen and (min-width: 1200px)
		h3
			font-size 36px
			margin-bottom 30px


	/*
	 * MODULE ONE, THREE, 
	 *
	 */

	&.module-one
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			height 330px
		
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			height 400px
		
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			height 440px


		// the photos
		.photo-module-one
			height 330px
			background url('/images/module-1.jpg') 20% 50% no-repeat
			background-size cover

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			.photo-module-one
				height 330px
				background-position 10% 50%

		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			.photo-module-one
				height 400px
				background-position 30% 50%

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			.photo-module-one
				height 440px
				background-position 50% 50%

	&.module-two
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			height 330px
		
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			height 400px
		
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			height 440px

		// everything over 1700px (x-large screens)
		@media handheld, screen and (min-width: 1700px)
			height 500px

		// the photos
		.photo-module-two
			height 330px
			background url('/images/module-2.jpg') 20% 50% no-repeat
			background-size cover

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			.photo-module-two
				height 330px
				background-position 10% 50%

		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			.photo-module-two
				height 400px
				background-position 30% 50%

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			.photo-module-two
				height 440px
				background-position 50% 50%

		// everything over 1700px (x-large screens)
		@media handheld, screen and (min-width: 1700px)
			.photo-module-two
				height 500px
				background-position 50% 30%


	&.module-three
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			height 350px
		
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			height 400px
		
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			height 440px

		// everything over 1700px (x-large screens)
		@media handheld, screen and (min-width: 1700px)
			height 460px


		// the photos
		.photo-module-three
			height 330px
			background url('/images/module-3.jpg') 20% 50% no-repeat
			background-size cover

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			.photo-module-three
				height 350px
				background-position 50% 50%

		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			.photo-module-three
				height 400px
				background-position 30% 50%

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			.photo-module-three
				height 440px
				background-position 50% 45%

		// everything over 1700px (x-large screens)
		@media handheld, screen and (min-width: 1700px)
			.photo-module-three
				height 460px



	&.module-four
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			height 350px
		
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			height 360px
		
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			height 380px


		// the photos
		.photo-module-four
			height 330px
			background url('/images/module-4.jpg') 20% 50% no-repeat
			background-size cover

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			.photo-module-four
				height 350px
				background-position 20% 45%

		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			.photo-module-four
				height 360px
				background-position 10% 45%

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			.photo-module-four
				height 380px
				background-position 10% 45%



	&.module-five
		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			height 330px
		
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			height 380px
		
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			height 430px

		// everything over 1700px (x-large screens)
		@media handheld, screen and (min-width: 1700px)
			height 470px

		// the photos
		.photo-module-five
			height 330px
			background url('/images/module-5.jpg') 20% 50% no-repeat
			background-size cover

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			.photo-module-five
				height 330px
				background-position 80% 50%

		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			.photo-module-five
				height 380px
				background-position 70% 50%

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			.photo-module-five
				height 430px
				background-position 90% 30%

		// everything over 1700px (x-large screens)
		@media handheld, screen and (min-width: 1700px)
			.photo-module-five
				height 470px
				background-position 90% 30%



	&.module-six
		.contributors
			margin-top 10px
			margin-bottom 20px

			span.name
				font-size 14px

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			height 350px

			.contributors
				span.name
					font-size 16px
		
		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			height 440px
		
		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			height 460px

		// everything over 1700px (x-large screens)
		@media handheld, screen and (min-width: 1700px)
			height 490px


		// the photos
		.photo-module-six
			height 330px
			background url('/images/module-6.jpg') 20% 50% no-repeat
			background-size cover

		// everything over 768px (tablet screens)
		@media handheld, screen and (min-width: 768px)
			.photo-module-six
				height 350px
				background-position 30% 50%

		// everything over 992px (medium screens)
		@media handheld, screen and (min-width: 992px)
			.photo-module-six
				height 440px
				background-position 30% 50%

		// everything over 1200px (large screens)
		@media handheld, screen and (min-width: 1200px)
			.photo-module-six
				height 460px
				background-position 50% 45%

		// everything over 1700px (x-large screens)
		@media handheld, screen and (min-width: 1700px)
			.photo-module-six
				height 490px
				background-position 50% 30%
