<template name="memberNew">
	<form class="main">
		<div class="control-group inline">
			<label class="control-label" for="prefix">Prefix</label>
			<input class="psfix" name="prefix" type="text" value="" placeholder="Dr." />
		</div>
		<div class="control-group inline">
			<label class="control-label" for="firstname">First Name</label>
			<input name="firstname" type="text" value="" placeholder="first name" />
		</div>
		<div class="control-group inline">
			<label class="control-label" for="lastname">Last Name</label>
			<div class="controls">
				<input name="lastname" type="text" value="" placeholder="last name" />
			</div>
		</div>
		<div class="control-group inline">
			<label class="control-label" for="suffix">Suffix</label>
			<div class="controls">
				<input class="psfix" name="suffix" type="text" value="" placeholder="suffix" />
			</div>
		</div>
		<br>
		<div class="control-group inline">
			<label class="control-label" for="institution1">Institution 1</label>
			<div class="controls">
				<input name="institution1" type="text" value="" placeholder="organization name" />
			</div>
		</div>
		<div class="control-group inline">
			<label class="control-label" for="institution2">Institution 2</label>
			<div class="controls">
				<input name="institution2" type="text" value="" placeholder="organization name" />
			</div>
		</div>
		<div class="control-group inline">
			<label class="control-label" for="institution3">Institution 3</label>
			<div class="controls">
				<input name="institution3" type="text" value="" placeholder="organization name" />
			</div>
		</div>
		<br>
		<div class="control-group inline">
			<label class="control-label" for="imageUrl">Photo Url</label>
			<div class="controls">
				<input name="image_url" type="text" value="" placeholder="image url" />
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary" />
			</div>
		</div>

	</form>
</template>