<template name="memberEdit">
	<form class="main">
		<div class="name-group inline">
			{{#if username}}
			<div class="control-group">
				<label class="control-label" for="username">Username: <strong>{{username}}</strong></label>
			</div>
			{{/if}}
			<div class="control-group inline">
				<label class="control-label" for="prefix">Prefix</label>
				<input class="psfix" name="prefix" type="text" value="{{prefix}}" placeholder="Dr." />
			</div>
			<div class="control-group inline">
				<label class="control-label" for="firstname">First Name</label>
				<input name="firstname" type="text" value="{{firstname}}" placeholder="first name" />
			</div>
			<div class="control-group inline">
				<label class="control-label" for="lastname">Last Name</label>
				<div class="controls">
					<input name="lastname" type="text" value="{{lastname}}" placeholder="last name" />
				</div>
			</div>
			<div class="control-group inline">
				<label class="control-label" for="suffix">Suffix</label>
				<div class="controls">
					<input class="psfix" name="suffix" type="text" value="{{suffix}}" placeholder="suffix" />
				</div>
			</div>
			<div class="control-group inline">
				<label class="control-label" for="title">Title</label>
				<input name="title" type="text" value="{{title}}" placeholder="Professor, assistant, etc." />
			</div>
		</div>
		<br>
		<div class="institution-group inline">
			<div class="control-group inline">
				<label class="control-label" for="institution1">Institution 1</label>
				<div class="controls">
					<input name="institution1" type="text" value="{{institution1}}" placeholder="organization name" />
				</div>
			</div>
			<div class="control-group inline">
				<label class="control-label" for="institution2">Institution 2</label>
				<div class="controls">
					<input name="institution2" type="text" value="{{institution2}}" placeholder="organization name" />
				</div>
			</div>
			<div class="control-group inline">
				<label class="control-label" for="institution3">Institution 3</label>
				<div class="controls">
					<input name="institution3" type="text" value="{{institution3}}" placeholder="organization name" />
				</div>
			</div>
			<br>
			<div class="control-group inline">
				<label class="control-label" for="imageUrl">Photo Url</label>
				<div class="controls">
					<input name="image_url" type="text" value="{{imageUrl}}" placeholder="image url" />
				</div>
			</div>
		</div>
		<div class="inline address-group">
			<div class="control-group">
				<label class="control-label" for="address1">Lab Name</label>
				<input name="labName" type="text" value="{{labName}}" placeholder="" />
			</div>
			<div class="inline">
				<div class="control-group inline">
					<label class="control-label" for="address1">Lab Address</label>
					<input name="address1" type="text" value="{{labAddress1}}" placeholder="" />
				</div>
				<div class="control-group inline">
					<label class="control-label" for="address2">Address line 2</label>
					<input name="address2" type="text" value="{{labAddress2}}" placeholder="" />
				</div>
			</div>
			<div class="inline">
				<div class="control-group inline">
					<label class="control-label" for="city">City</label>
					<input name="city" type="text" value="{{city}}" placeholder="" />
				</div>
				<div class="control-group inline">
					<label class="control-label" for="state">State</label>
					<input class="psfix" name="state" type="text" value="{{state}}" placeholder="TX, etc." />
				</div>
				<div class="control-group inline">
					<label class="control-label" for="zip">Zip Code</label>
					<input class="psfix" name="zip" type="text" value="{{zip}}" placeholder="" />
				</div>
			</div>
			<br>
			<div class="control-group inline">
				<label class="control-label" for="country">Country</label>
				<input name="country" type="text" value="{{country}}" placeholder="United States" />
			</div>
			<div class="control-group inline">
				<label class="control-label" for="labPhone">Phone</label>
				<input name="phone" type="text" value="{{labPhone}}" placeholder="(555) 555-5555" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Submit" class="btn btn-primary" />
			</div>
		</div>
		<hr/>
		<div class="control-group">
	        <div class="controls">
	            <a class="btn btn-danger delete" href="#">Delete Member</a>
	        </div>
    	</div>
		
	</form>
</template>