<template name="participants">

	<div class="hero standard-hero">

		<div class="wo-plug hidden-sm hidden-xs">
			<hr class="spacer10">
			<img src="/images/liver-stamp-shadow.png" alt="" class="liver-stamp">

			<div class="content">
				<p>The Whole Liver Research Community is an SOS Solving Organ Shortage research initiative. Click here to view our other communities.</p>
			</div>
		</div>


		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<hr class="spacer40 hidden-xs">
					<h1>Academic <strong>Investigators</strong></h1>
					<h4 class="sub"><em>Lorem ipsum dolor sit amet draco dormiens nunquam</em></h4>
				</div>
			</div>
		</div>

	</div>


	<hr class="spacer60">



	<div class="container academic-investigators">
		<hr class="spacer40">


		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.hcmc.org/providers/HCMC_STAFF_39">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/albrecht.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Jeffrey H. Albrecht, MD</h5>
						<p class="cln hidden-sm">University of Minnesota</p>
					</div>
				</div>
				</a>
			</div>

			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.cincinnatichildrens.org/default/">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/asai.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Akihiro Asai</h5>
						<p class="cln hidden-sm">Cincinnati Children's Hospital Medical Center</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="https://uvahealth.com/doctors/physicians/525">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/brayman.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Kenneth L. Brayman, MD, PhD</h5>
						<p class="cln hidden-sm">University of Virginia Health System</p>
					</div>
				</div>
				</a>
			</div>

			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.mcw.edu/cellbiology/stephenduncandphil.htm">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/duncan.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Stephen A. Duncan, DPhil</h5>
						<p class="cln hidden-sm">Medical College of Wisconsin</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.mirm.pitt.edu/people/bios/fox1.asp">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/fox.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Ira J. Fox, MD</h5>
						<p class="cln hidden-sm">McGowan Institute for Regenerative Medicine</p>
					</div>
				</div>
				</a>
			</div>

			<div class="col-sm-6 ol-md-6 inv_box">
				<a href="http://www.med.kyoto-u.ac.jp/en/​">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/fujimoto.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Yasuhiro Fujimoto, MD, PhD</h5>
						<p class="cln hidden-sm">Kyoto University Graduate School of Medicine</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 ol-md-6 inv_box">
				<a href="http://www.mhlw.go.jp/english/">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/fukumitsu.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Ken Fukumitsu, MD, PhD</h5>
						<p class="cln hidden-sm">Kyoto University Graduate School of Medicine</p>
					</div>
				</div>
				</a>
			</div>

			<div class="col-sm-6 ol-md-6 inv_box">
				<a href="http://garcia-cardena.bwh.harvard.edu/">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/garcia-cardena2.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Guillermo Garcia-Carde&#241;a, PhD</h5>
						<p class="cln hidden-sm">Harvard Medical School</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://medicine.tamhsc.edu/clinical-departments/internal-medicine/faculty/shannon-glaser.html">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/glaser.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Shannon S. Glaser, PhD</h5>
						<p class="cln hidden-sm">Texas  A&amp;M University Health Science Center</p>
					</div>
				</div>
				</a>
			</div>

			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.londonbridgehospital.com/LBH/consultant-det/professor-nigel-heaton/">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/heaton.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Nigel Heaton, MD</h5>
						<p class="cln hidden-sm">King's College Hospital</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.cincinnatichildrens.org/bio/h/stacey-huppert/">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/huppert.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Stacey S. Huppert, PhD</h5>
						<p class="cln hidden-sm">Cincinnati Children's Hospital Medical Center</p>
					</div>
				</div>
				</a>
			</div>

			<div class="col-sm-6 col-md-6 inv_box">
				<a href="https://www.healthsystem.virginia.edu/internet/people/dop/dopDetail.cfm?drid=2048">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/kane.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Bartholomew J. Kane, MD, PhD</h5>
						<p class="cln hidden-sm">University of Virginia Healthy System</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.mirm.pitt.edu/people/bios/lagasse.asp">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/lagasse.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Eric Lagasse, PharmD, PhD</h5>
						<p class="cln hidden-sm">McGowan Institute for Regenerative Medicine</p>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.mayo.edu/research/labs/artificial-liver-transplantation/about-dr-nyberg">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/nyberg.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Scott L. Nyberg, MD, PhD</h5>
						<p class="cln hidden-sm">Mayo Clinic</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://research.pediatrics.med.ufl.edu/researchers/research-faculty/bryon-petersen/">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/petersen2.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Bryon Petersen, PhD</h5>
						<p class="cln hidden-sm">University of Florida College of Medicine</p>
					</div>
				</div>
				</a>
			</div>
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://wuphysicians.wustl.edu/physician2.aspx?PhysNum=2817">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/rudnick.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. David Rudnick, MD, PhD</h5>
						<p class="cln hidden-sm">Washington University School of Medicine</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://matsci.northwestern.edu/people/faculty/profiles/ramille-n-shah.html">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/shah.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Ramille N. Shah, PhD</h5>
						<p class="cln hidden-sm">Comprehensive Transplant Center, Northwestern University</p>
					</div>
				</div>
				</a>
			</div>

			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.wakehealth.edu/Faculty/Soker-Shay.htm">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/soker.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Shay Soker, PhD</h5>
						<p class="cln hidden-sm">Wake Forest School of Medicine</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.stiresearch.health.pitt.edu/node/389">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/alex-circ.jpg" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Alejandro Soto-Guti&eacute;rrez</h5>
						<p class="cln hidden-sm">McGowan Institute for Regenerative Medicine, University of Pittsburgh</p>
					</div>
				</div>
				</a>
			</div>

			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.chp.edu/CHP/Squires+Jr.,+Robert,++MD">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/squires.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Robert H. Squires, Jr., MD</h5>
						<p class="cln hidden-sm">University of Pittsburgh School of Medicine</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.fp7human.eu/partners/partner1b/">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/strom.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Stephen Strom, PhD</h5>
						<p class="cln hidden-sm">Karolinska Institutet</p>
					</div>
				</div>
				</a>
			</div>

			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www-user.yokohama-cu.ac.jp/~saisei/cred_system.html">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/takebe3.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Takanori Takebe, MD</h5>
						<p class="cln hidden-sm">Yokohama City University Graduate School of Medicine</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://fsmweb.northwestern.edu/faculty/FacultyProfile.cfm?xid=22839">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/jason-circ.jpg" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Jason A. Wertheim, MD, PhD</h5>
						<p class="cln hidden-sm">Comprehensive Transplant Center, Northwestern University</p>
					</div>
				</div>
				</a>
			</div>
		
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://livercenter.ucsf.edu/members/hwillenbring.html">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/willenbring.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Holger Willenbring, MD, PhD</h5>
						<p class="cln hidden-sm">Eli and Edythe Broad Center of Regeneration Medicine</p>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6 inv_box">
				<a href="http://www.med.keio.ac.jp/index-e.html">
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 center">
						<img src="/images/yagi.png" class="inv" alt="">
					</div>
					<div class="col-sm-8 col-md-9 col-lg-9">
						<h5>Dr. Hiroshi Yagi, MD, PhD</h5>
						<p class="cln hidden-sm">Keio University, School of Medicine</p>
					</div>
				</div>
				</a>
			</div>
		</div>


		<hr class="spacer60">
		<hr class="spacer40">

	</div>



</template>