<template name="signIn">
	{{#unless currentUser}}
		<h3>Log In:</h3>
		<br>
		<form id="login-form" action="">
			<div class="control-group">
				<label class="control-label" for="email">Email</label>
				<br>
				<input name="email" type="email" value="" placeholder="email@example.com" />
			</div>
			<div class="control-group">
				<label class="control-label" for="password">Password</label>
				<br>
				<input name="password" type="password" value="" placeholder="" />
			</div>
			<br>
			<div class="control-group">
				<div class="controls">
					<input type="submit" value="Submit" class="btn btn-primary" />
				</div>
			</div>
	   </form> 
	   <br>
   {{/unless}}
   {{#if currentUser}}
	   	You are logged in as: <strong>{{email}}</strong>

	   	<div><a id="logout" href="#">Log Out</a></div>
	   	<br>
	
	   	<button class="btn btn-success" id="profile">Edit Profile</button>
	   
   {{/if}}
</template>